<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <appSettings>
      <add key="QueryMultiDbExecutableFilename" value="QueryMultiDb.exe"/>
      <add key="QueryMultiDbDocumentsRootDirectoryName" value="QueryMultiDb"/>
      <add key="DocumentsTargetsDirectoryName" value="Targets"/>
      <add key="DocumentsExtractionsDirectoryName" value="Extractions"/>
    </appSettings>
</configuration>
