<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Query Multi Db"
           Language="1033"
           Version="!(bind.fileVersion.QueryMultiDb.exe)"
           Manufacturer="Alexandre Lecoq"
           UpgradeCode="66FFC8DA-490F-40FE-BEAF-C2EE5508DA9E">

    <Package
      InstallerVersion="200" 
      Compressed="yes" 
      InstallScope="perMachine"
      Keywords="QueryMultiDb Installer"
      Description="QueryMultiDb Installer"
      Comments="Installer for QueryMultiDb."
      Manufacturer="Alexandre Lecoq" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="QueryMultiDbInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Query Multi Db" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="QueryMultiDb.exe">
        <File Id="QueryMultiDb.exe" Source="$(var.QueryMultiDb.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="CommandLineArgumentsParser.dll">
        <File Id="CommandLineArgumentsParser.dll" Source="$(var.QueryMultiDb.TargetDir)CommandLineArgumentsParser.dll" Checksum="yes" />
      </Component>
      <Component Id="DocumentFormat.OpenXml.dll">
        <File Id="DocumentFormat.OpenXml.dll" Source="$(var.QueryMultiDb.TargetDir)DocumentFormat.OpenXml.dll" Checksum="yes" />
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Id="Newtonsoft.Json.dll" Source="$(var.QueryMultiDb.TargetDir)Newtonsoft.Json.dll" Checksum="yes" />
      </Component>
      <Component Id="NLog.dll">
        <File Id="NLog.dll" Source="$(var.QueryMultiDb.TargetDir)NLog.dll" Checksum="yes" />
      </Component>
      <Component Id="System.IO.FileSystem.Primitives.dll">
        <File Id="System.IO.FileSystem.Primitives.dll" Source="$(var.QueryMultiDb.TargetDir)System.IO.FileSystem.Primitives.dll" Checksum="yes" />
      </Component>
      <Component Id="System.IO.Packaging.dll">
        <File Id="System.IO.Packaging.dll" Source="$(var.QueryMultiDb.TargetDir)System.IO.Packaging.dll" Checksum="yes" />
      </Component>
      <Component Id="QueryMultiDb.pdb">
        <File Id="QueryMultiDb.pdb" Source="$(var.QueryMultiDb.TargetDir)QueryMultiDb.pdb" />
      </Component>
      <Component Id="NLog.config">
        <File Id="NLog.config" Source="$(var.QueryMultiDb.TargetDir)NLog.config" />
      </Component>
      <Component Id="QueryMultiDb.exe.config">
        <File Id="QueryMultiDb.exe.config" Source="$(var.QueryMultiDb.TargetDir)QueryMultiDb.exe.config" />
      </Component>

      <Component Id="DbTargets.exe">
        <File Id="DbTargets.exe" Source="$(var.DbTargets.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="DbTargets.pdb">
        <File Id="DbTargets.pdb" Source="$(var.DbTargets.TargetDir)DbTargets.pdb" />
      </Component>
      <Component Id="DbTargets.exe.config">
        <File Id="DbTargets.exe.config" Source="$(var.DbTargets.TargetDir)DbTargets.exe.config" />
      </Component>
      <Component Id="README.md">
        <File Id="README.md" Source="$(var.SolutionDir)README.md" />
      </Component>

      <Component Id="Path" Guid="425AAEEB-760D-4658-85D0-DC98A56AD621">
        <CreateFolder/>
        <Environment Id="SystemPath" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
